body{
font-family:Arial;
margin:0;
background:#ffe600;
color:#b00000;
}
header{
background:#d40000;
color:white;
text-align:center;
padding:20px;
}
.logo{
width:180px;
}
.produto,.pedido{
background:white;
margin:15px;
padding:15px;
border-radius:15px;
}
button{
background:#d40000;
color:white;
border:0;
padding:12px;
border-radius:10px;
}
input,select{
display:block;
width:90%;
padding:12px;
margin:10px;
}
